html,body{
  height:100%;
  display:flex;
  flex:1;
}

.App {
  text-align: center;
  display: flex;
  flex:1 1;
  align-items:center;
  justify-content:center;
  background-color: lightcyan;
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  flex-direction:column;
}

.searchBar{
  display:flex;
  align-items:center;
  height: 80px;
}

.memes{
  height:calc(100% - 80px);
}
